<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Folder</title>
  </head>
  <body>
    <h1><%= folder.name %></h1>
    <h2>Rename</h2>
    <form action="/folders/<%= folder.name %>/edit" method="POST">
      <label for="rename">New Name:</label>
      <input type="text" name="rename" id="rename" />
      <button>Rename</button>
    </form>
    <h2>Share Folder</h2>
    <% if (folder.shareExpires < new Date()) { %>
      <form action="/folders/<%= folder.name %>/share" method="POST">
        <label for="duration">Duration:</label>
        <select name="duration" id="duration">
          <option value="1">1 Day</option>
          <option value="7">1 Week</option>
        </select>
        <button type="submit">Share</button>
      </form>
    <% } else { %>
      <p>This folder has already been shared. It can be accessed <a href="/share/<%= folder.id %>">here</a> until <%= folder.shareExpires %>.</p>
    <% } %>
    <h2>Delete</h2>
    <p>
      Deleting a folder will not delete the files within. They will just be left
      fatherless.
    </p>
    <form action="/folders/<%= folder.name %>/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
