<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= file.name %></title>
  </head>
  <body>
    <h1><%= file.name %></h1>
    <span
      >Size: <%= (Number(file.sizeInBytes) / 1000000).toFixed(2) %> MBs</span
    >
    <span>Date Added: <%= file.dateAdded %></span>
    <a href="/files/<%= file.name %>/download">Download</a>
    <h2>Change Folder</h2>
    <form action="/files/<%= file.name %>/change-folder" method="POST">
      <label for="folder">Folder:</label>
      <select name="folder" id="folder">
        <option value="none">None</option>
        <% folders.forEach(folder => { %>
            <% if (file.folder && folder.id === file.folder.id) { %>
              <option value="<%= folder.id %>" selected><%= folder.name.toUpperCase() %></option>
            <% } else { %>
              <option value="<%= folder.id %>"><%= folder.name.toUpperCase() %></option>
            <% } %>
        <% }) %>
      </select>
      <button type="submit">Change</button>
    </form>
  </body>
</html>
