<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <a href="/logout">Log Out</a>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>Click on the link to <a href="/upload">upload a new file</a>.</p>
    <a href="/folders/new">Add New Folder</a>
    <% if (docs.length > 0) { %>
      <div>
        <% docs.forEach(document => { %>
          <div>
            <!-- Differentiate between folders and files -->
            <% if (document.sizeInBytes) { %>
                <a href="/files/<%= document.name %>"><%= document.name %></a>
                <span>FILE</span>
            <% } else { %>
                <a href="/folders/<%= document.name %>/edit">Edit</a>
                <a href="/folders/<%= document.name %>"><%= document.name %></a>
                <span>FOLDER</span>
            <% } %>
          </div>
        <% }) %>
      </div>
    <% } %>
  </body>
</html>
