<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= file.name %></title>
  </head>
  <body>
    <a href="/share/<%= locals.folderId %>">Go back to shared folder</a>
    <h1><%= file.name %></h1>
    <span
      >Size: <%= (Number(file.sizeInBytes) / 1000000).toFixed(2) %> MBs</span
    >
    <span>Date Added: <%= file.dateAdded %></span>
    <a href="/files/<%= file.name %>/download">Download</a>
  </body>
</html>
